.model-selector {
  display: flex;
  flex-direction: column;
  // max-width: fit-content;
  max-width: 11rem;
  margin-bottom: 24px;
  position: relative;
  top: 24px;

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 24px;
  }
}
